
.navbar {
  background-color:black;
 
  position: fixed;
  width: 100%;
  top: 0px;
}

.navbar__items {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: large;
  padding: 5px;
   
}

 a {
  text-decoration: none;
 color: white;
 
}